body{
    margin: 0px;
}
a{
    color:darkblue;
}
h1 {
    font-size: 50px;
    text-align: center;
    border-bottom: solid 5px black;
    margin:0px;
    padding: 10px;
}
#grid-container> ol{
    border-right: 5px solid black;
    width:100px;
    margin: 0px;
    padding: 20px;
}
#grid-container {
    display: grid;
    grid-template-columns: 150px 1fr;
}
@media (max-width:800px) {
    #grid-container{
        display: block;
    }
    #grid-container> ol{
        border-right: none;
    }
    h1{
        border-bottom: none;
    }
}